@model List<Orders>
@{

    ViewData["Title"] = "Index";
}
<link href="/css/style.css" rel="stylesheet" />
<div class="table-area">
    <h1>Đơn hàng</h1>
    <table>
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Người đặt</th>
                <th>Ngày đặt</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ nhận</th>
                <th>Ghi chú</th>
                <th>Người giao hàng</th>
                <th>Trạng thái đơn hàng</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.HOTEN</td>
                    <td>@item.CreateTime</td>
                    <td>@item.SDT</td>
                    <td>@item.Address</td>
                    <td>@item.Notes</td>
                    <td>@item.HOTEN_DL</td>
                    <td>@item.Status</td>
                    <td><a href="#">Chi tiết đơn hàng</a></td>
                    <td><a href="#">Giao hàng</a></td>
                    <td><a href="#">Hủy đơn hàng</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


